    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Ma filmothèque</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/">Login</a></li>
                        <li><a href="/">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>